.menu {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: .3s;
  pointer-events: none;

  &__wrap {
    position: relative;
    padding-top: 5.625rem;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__content {
    margin-left: auto;
    height: 100%;
    max-width: 19rem;
    transform: translateX(100%);
    background-color: #fff;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: .3s;
    pointer-events: none;
    background-color: rgba(33, 37, 41, 0.5);
  }

  &--active {
    opacity: 1;
    pointer-events: all;

    .menu__content {
      background-color: #ECECEC;
      transform: translateX(0%);
    }

    .overlay {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 1.5rem;
  }
}

// @media screen and (min-width: 20rem) {
//   .menu {
//     &__logo {
//       display: inline-block;
//       position: absolute;
//       left: 0;
//       top: 1rem;
//       width: 1.625rem;
//     }

//     &-list,
//     .social-list {
//       gap: 20px;
//       display: flex;
//       flex-direction: column;
//     }

//     &__btn {
//       position: fixed;
//       right: max(15px, calc(100% - 1376px) / 2);
//       top: $md-22;
//       z-index: 5;
//       width: $md-24;
//       height: $sm-12;
//       &::before {
//         content: '';
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         border-radius: 50%;
//         width: $md-39;
//         height: $md-39;
//         background: $white;
//         transform: translate(-50%, -50%);
//       }

//       span {
//         position: relative;
//         display: block;
//         width: 100%;
//         transition: .3s;
//         height: 0.063rem;
//         background: $dark;
//         &:first-child {
//           position: absolute;
//           top: 0;
//         }

//         &:nth-child(2) {
//           position: absolute;
//           top: 50%;
//           transform: translateY(-50%);
//         }

//         &:nth-child(3) {
//           position: absolute;
//           right: 0;
//           bottom: 0;
//           left: unset;
//           width: 0.875rem;
//         }
//       }

//       &.open {
//         span {
//           &:first-child {
//             top: unset;
//             transform: rotate(45deg);
//           }
//           &:nth-child(2) {
//             transform: rotate(-45deg);
//           }
//           &:last-child {
//             opacity: 0;
//             pointer-events: none;
//           }
//         }
//       }
//     }
//   }
// }

// //1024
// @media screen and (min-width: 64rem) {
//   .menu {
//     &__btn {
//       display: none;
//     }
//   }
// }


