<section class="about" id="about">
  <div class="container">
    <div class="about__wrap grid">
      <h2 class="about__title about__title--desktop">
        Более 5 лет создаем мебель для вашего комфорта
      </h2>
      <h2 class="about__title about__title--tablet">О компании</h2>
      <div class="about__text">
        <p class="about__paragpaph text">
          Мы — команда профессионалов, которые могут произвести любую мебель для
          вашего проекта, а также найти производственное решение любой задумки.
        </p>
        <p class="about__paragpaph text">
          Наша основная цель — реализовывать самые смелые задумки, и делать это
          качественно и аккуратно.
        </p>
        <p class="about__paragpaph text">
          В качестве материалов мы используем натуральные — стекло, дерево,
          бетон, камень, металл и эпоксидную смолу.
        </p>
      </div>
      <ul class="about__advantages">
        <li class="about__advantage advantage">
          <h3 class="advantage__title">1 год</h3>
          <p class="advantage__text text">гарантии на всю продукцию</p>
        </li>
        <li class="about__advantage advantage">
          <h3 class="advantage__title">300+</h3>
          <p class="advantage__text text">выполненных проектов</p>
        </li>
        <li class="about__advantage advantage">
          <h3 class="advantage__title">15 дней</h3>
          <p class="advantage__text text">срок производства</p>
        </li>
      </ul>
    </div>
  </div>
</section>
