<section class="feedback">
  <div class="container">
    <div class="feedback__wrap grid">
      <div class="feedback__image image-desktop">
        <img src="../img/feedback.jpg" alt="" />
      </div>
      <div class="feedback__content">
        <h2 class="feedback__title">Хотите заказать проект?</h2>
        <p class="feedback__subtitle text">Оставьте заявку, и мы вам перезвоним</p>
        <form action="" class="feedback__form">
          <div class="feedback__group">
            <input type="text" class="feedback__input" id="name" required />
            <label for="name" class="input-focus"></label>
            <label for="name" class="feedback__label">Имя</label>
          </div>
          <div class="feedback__group">
            <input type="text" class="feedback__input" id="email" required />
            <label for="email" class="input-focus"></label>
            <label for="email" class="feedback__label">E-mail</label>
          </div>
          <div class="feedback__group">
            <input type="text" class="feedback__input" id="phone" required />
            <label for="phone" class="input-focus"></label>
            <label for="phone" class="feedback__label">Телефон</label>
          </div>

          <button class="feedback__send" type="submit">Отправить заявку</button>
        </form>
      </div>
    </div>
  </div>
</section>
