<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__copy">
        <p class="text">&copy; 2023 AVEI</p>
        <p class="text">ВСЕ ПРАВА ЗАЩИЩЕНЫ</p>
      </div>
      <ul class="footer__policy">
        <li class="footer-policy__item"><a class="link" href="">Политика конфеденциальности</a></li>
        <li class="footer-policy__item"><a class="link" href="">Оплата и доставка</a></li>
      </ul>
      <div class="footer__links">
        <a href="#" class="footer__link link">ВКОНТАКТЕ</a>
        <a href="#" class="footer__link link">ТЕЛЕГРАМ</a>
      </div>
    </div>
  </div>
</footer>
