<section class="intro">
  <div class="container">
    <div class="intro__wrap grid">
      <h1 class="intro__title">Эксклюзивная и нестандартная мебель для дома</h1>
      <h2 class="intro__subtitle">Мы можем произвести любую мебель для вашего проекта и найти производственное решение любой задумки.</h2>
      <a href="#" class="intro__btn btn">Заказать проект</a>
      <div class="intro__image-wrapper">
        <img src="../img/intro-image-right.jpg" alt="" class="intro__image intro__image--right">
      </div>
      <img src="../img/intro-image-left.jpg" alt="" class="intro__image intro__image--desktop image-desktop">
    </div>
  </div>
</section>
